{% extends "base.html" %}

{% block content %}

<script src="{{ MEDIA_URL }}js/sjcl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/FileSaver.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/FileStorage.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/shared.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/downloader.js" type="text/javascript"></script>

<h3>File Info</h3>
<table>
<tr><td>File name</td><td>{{ bigfile.name }}</td></tr>
<tr><td>Upload date</td><td>{{ bigfile.upload_date }}</td></tr>
<tr><td>Expire date</td><td>{{ bigfile.expire_date }}</td></tr>
<tr><td>Size</td><td>{{ bigfile.size|filesizeformat }}</td></tr>
<tr><td>Message</td><td>{{ bigfile.message }}</td></tr>
<tr><td>MD5</td><td>{{ bigfile.md5 }}</td></tr>
</table>


<h2><a href="{{ STORAGE_URL }}{{ bigfile.secret }}/{{ bigfile.name }}">Download</a></h2>
<h2><a onclick="downloader.start('{{ STORAGE_URL }}{{ bigfile.secret }}/{{ bigfile.name }}', '{{ bigfile.name }}', '{{bigfile.size}}');">click here to decrypt this file</a></h2>

<div id="status"></div>
<div id="progressNumber"></div>

{% if bigfile.downloaders %}
<h3>Downloaders</h3>
<table>
    <tr>
        {% for downloader in bigfile.downloaders.all %}
        <td>{{ downloader.email }}</td>
        {% empty %}
        <td>No downloaders specified</td>
        {% endfor %}
    </tr>
</table>
{% else %}
No downloaders
{% endif %}

{% endblock %}






