{% extends "base.html" %}

{% block content %}

<script src="{{ MEDIA_URL }}js/sjcl.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/FileSaver.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/BlobBuilder.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/shared.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/downloader.js" type="text/javascript"></script>

<h3>File Info</h3>
<table>
<tr><td>File name</td><td>{{ bigfile.name }}</td></tr>
<tr><td>Upload date</td><td>{{ bigfile.upload_date }}</td></tr>
<tr><td>Expire date</td><td>{{ bigfile.expire_date }}</td></tr>
<tr><td>Size</td><td>{{ bigfile.size|filesizeformat }}</td></tr>
<tr><td>Message</td><td>{{ bigfile.message }}</td></tr>
<tr><td>MD5</td><td>{{ bigfile.md5 }}</td></tr>
<tr><td>URL</td><td><a href="{{ STORAGE_URL }}{{ bigfile.secret }}/{{ bigfile.name }}">{{ STORAGE_URL }}{{ bigfile.secret }}/{{ bigfile.name }}</a></td></td></tr>
<tr><td>decrypt</td><td><a onclick="downloader.start('{{ STORAGE_URL }}{{ bigfile.secret }}/{{ bigfile.name }}/', '{{ bigfile.name }}');">click here to decrypt this file</a></td>
</table>



<h3>Downloaders</h3>
{% if bigfile.downloaders %}
    <table>
    <tr>
    {% for downloader in bigfile.downloaders.all %}
        <td>{{ downloader.email }}</td>
    {% endfor %}
    </tr>
    </table>
{% else %}
    No downloaders
{% endif %}

{% endblock %}





